<%- include('partials/header'); -%>


<header>
  <div class="programming-blogs">
    <img src="/blog-logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Programming Blogs</h2>
    <h3>Discover current blogs and add your own</h3>
    <a href="/blogs" class="btn">View Blogs</a>
  </div>
</header>
